.main , .btnList{
	margin-left: 45%;
	border-radius: 5px;
	border : 5px solid #EEEEEE;
	padding: 10px;
	width: 300px;
	margin-bottom: 40px;
}
.is-hidden{
	display: none;
}
.show-up{
	display: block;
	padding-left: 20px;
}
.listImg{
	cursor: pointer;
	height: 15px;
	width: 19px;
}
.classBlock{
	display: block;
	margin: 10px;
	width: auto;
	height: auto;
}
.subtitle{
	padding: 0 5px;
	cursor: pointer;
	color : #7B7B7B;
	font-size: 14px;      
}
