.hidden{
	display: none;
}
label{
	color: #5672e3;
}
.wrapper{
	display: flex;
}
#formDemoBox{
	margin-top: 20px;
	width: 1200px;
	height: 700px;
	overflow: auto;
}
.wrapper fieldset {
  border: 3px solid #4869f0;
  border-radius: 20px;
}

.wrapper fieldset legend {
  border: none;
  width: auto;
  color: #95a3db;
  font-size: 20px;
  padding: 0 10px;
  margin: 0 auto;
  font-family:cursive; 
}

.categoryWrapper{
	width: 350px;
}
.categoryWrapper fieldset{
	margin-top: 20px;
}
textarea {
	resize: none;
}
.form{
	margin :25px 0 0 25px;
	border: 1px solid #123154;
	width: 450px;
	height: 300px;
	overflow: auto;
	float: left;
}
.addBtn {
  background: #02b5ac;
  background-image: -webkit-linear-gradient(top, #02b5ac, #2980b9);
  background-image: -moz-linear-gradient(top, #02b5ac, #2980b9);
  background-image: -ms-linear-gradient(top, #02b5ac, #2980b9);
  background-image: -o-linear-gradient(top, #02b5ac, #2980b9);
  background-image: linear-gradient(to bottom, #02b5ac, #2980b9);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 14px;
  padding: 2px 4px;
  text-decoration: none;
  border: none;
}

.addBtn:hover {
  background: #3cfc96;
  background-image: -webkit-linear-gradient(top, #3cfc96, #3498db);
  background-image: -moz-linear-gradient(top, #3cfc96, #3498db);
  background-image: -ms-linear-gradient(top, #3cfc96, #3498db);
  background-image: -o-linear-gradient(top, #3cfc96, #3498db);
  background-image: linear-gradient(to bottom, #3cfc96, #3498db);
  text-decoration: none;
}
#formDemo1 input {
	border-color:#cccccc; 
	border-style:solid; 
	border-radius:10px; 
	font-size:20px; 
	color:#97a8bd; 
	padding:5px; 
	border-width:2px; 
	font-family:cursive;  
}
#formDemo1 label , p , .wrapper label{
	letter-spacing:2pt;
	word-spacing:0pt;
	font-size:16px;
	font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;
}
#formDemo2 input {
	border-color:#cccccc; 
	font-size:10px; 
	padding:6px; 
	text-align:center; 
	border-radius:50px;
	border-style:inset;
	border-width:11px; 
	color:#bfaebf; 
	font-family:fantasy; font-style:italic; 
}
#formDemo3 input {
	padding:3px;
	font-size:16px; 
	border-width:4px; 
	border-radius:0px; 
	border-style:ridge; 
	text-align:center;
	border-color:#b043b0;
	color:#a16da1;
	background-color:#ffffff;
	box-shadow:inset 0px 0px 7px 0px rgba(204,20,204,.75);
	font-family:monospace;
	font-weight:bold; 
}
#formDemo4 input {
	border-color:#cccccc;
	font-size:10px;
	text-align:center;
	padding:8px; border-radius:50px;
	background-color:#d7e8f5;
	color:#719bc7;
	box-shadow: 4px 3px 9px 0px rgba(42,42,42,.75);
	font-family:serif;
	font-weight:bold; 
}
#formDemo1 , #formDemo2 , #formDemo3,#formDemo4{
	position: relative;
}  
::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
::-webkit-scrollbar-button {
  width: 89px;
  height: 89px;
}
::-webkit-scrollbar-thumb {
  background: #c9d8fa;
  border-radius: 22px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0e3f89;
}
::-webkit-scrollbar-thumb:active {
  background: #2261f2;
}
::-webkit-scrollbar-track {
  background: #0588c7; 
  border-radius: 23px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.checkBtn{
	background: #dddde0;
	background-image: -webkit-linear-gradient(top, #dddde0, #5b5d5e);
	background-image: -moz-linear-gradient(top, #dddde0, #5b5d5e);
	background-image: -ms-linear-gradient(top, #dddde0, #5b5d5e);
	background-image: -o-linear-gradient(top, #dddde0, #5b5d5e);
	background-image: linear-gradient(to bottom, #dddde0, #5b5d5e);
	-webkit-border-radius: 14;
	-moz-border-radius: 14;
	border-radius: 14px;
	font-family: Georgia;
	color: #ffffff;
	font-size: 16px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	position: absolute;
	top: 80% ;
	left: 80% ;
}

.checkBtn:hover {
	background: #888c8f;
	background-image: -webkit-linear-gradient(top, #888c8f, #4e4f4f);
	background-image: -moz-linear-gradient(top, #888c8f, #4e4f4f);
	background-image: -ms-linear-gradient(top, #888c8f, #4e4f4f);
	background-image: -o-linear-gradient(top, #888c8f, #4e4f4f);
	background-image: linear-gradient(to bottom, #888c8f, #4e4f4f);
	text-decoration: none;
}