#wrapper {
	left: 15%;
	width: 70%;
	height: auto;	
	position: absolute;
}
.albumBox-1 ,.albumBox-2 ,.albumBox-3 ,.albumBox-4 ,.albumBox-5 ,.albumBox-6 {
	position: relative;
	margin-top: 10px;
	width: 1000px;
	height: 800px;
}
.albumBox-1 img ,.albumBox-2 img ,.albumBox-3 img ,.albumBox-4 img ,.albumBox-5 img ,.albumBox-6 img ,.albumBox-1 .pic {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.albumBox-2 .pic ,.albumBox-2 .pic1{
	position: absolute;
	width: 66.66%;
	height: inherit;
}
.albumBox-2 .pic1 {
	left: 33.3%;
}
.albumBox-2 .pic {
	z-index: 1;
	clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
}
.albumBox-3 .pic {
	float: left;
	height: inherit;
	width: 60%;
}
.albumBox-3 .pic1 , .albumBox-3 .pic2 {
	float: left;
	height: 50%;
	width: 40%
}
.albumBox-4 .pic , .albumBox-4 .pic1 ,.albumBox-4 .pic2 ,.albumBox-4 .pic3 {
	float: left;
	display: inline-block;
	height: 50%;
	width: 50%;
}
.albumBox-5 .pic1 ,.albumBox-5 .pic2 ,.albumBox-5 .pic3 ,.albumBox-5 .pic4 {
	float: right;
	display: inline-block;
	width: 33.33%;
}
.albumBox-5 .pic {
	float: left;
	width: 66.66%;
	height: 66.66%;
}
.albumBox-5 .pic1 {
	height: 41.66%
}
.albumBox-5 .pic2 {
	height: 58.34%
}
.albumBox-5 .pic3 {
	height: 33.33%;
}
.albumBox-5 .pic4 {
	height: 33.33%;
}
.albumBox-6 .pic1 ,.albumBox-6 .pic2 ,.albumBox-6 .pic3 ,.albumBox-6 .pic4 ,.albumBox-6 .pic5 {
	display: inline-block;
	float: right;
	position: relative;
	width: 33.33%;
	height: 33.33%;
}
.albumBox-6 .pic {
	float: left;
	display: inline-block;
	position: relative;
	width: 66.66%;
	height: 66.66%;
}